<!DOCTYPE html>
<html>
  <head>
    {% load static %}

    <meta charset="utf-8">
    <title>Verkkokauppa</title>
    <meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.star-rating-svg.min.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/star-rating-svg.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <script src="{% static 'js/controller.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body ng-app="app">
      <!--TOP BAR-->
      <nav class="navbar navbar-expand-md navbar-light justify-content-start">
        <button type="button" class="navbar-toggler mr-2" data-toggle="collapse" data-target="#sideBarNav" aria-controls="sideBarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">
          <picture class="checkoutLogo">
            <source media="(max-width:1920) and (min-width:1000px)" srcset="{% static 'img/logo.png' %}">
            <source media="(max-width:1000px) and (min-width:600px)" srcset="{% static 'img/logo.png' %}">
            <source media="(max-width:600px) and (min-width:200px)" srcset="{% static 'img/favicon.png' %}">
            <img src="{% static 'img/logo.png' %}" alt="Verkkokauppa" height="35">
          </picture>
        </a>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto" id="checkoutNav">
            <li class="nav-item mr-4">
              <a style="color:white" class="nav-link" href="#">
                <i class="fas fa-phone font-24"></i>
                <span class="align-top font-14">Customer service</span>
              </a>
            </li>
            <li class="nav-item">
              <a style="color:white" class="nav-link" href="{% url 'index' %}">
                <i class="fas fa-store font-24"></i>
                <span class="align-top font-14">Back to the shop</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>



      <div class="container-fluid" ng-controller="checkoutCtrl">

      <div class="row">
        <div class="col col-lg-9 col-md-10 col-xs-8">
          <div class="checkoutDiv mt-lg-3 mt-sm-0 d-flex flex-column" style="height:90vh">


            <!-- Top bar of the order steps -->
            <div class="pt-4 mx-4">
              <div class="row">
                <div class="col text-center">
                  <div id="cart" class="checkoutIcon active"><a href="#cart"><img class="img img-fluid" src="{% static 'img/cart_w.png' %}" alt="Cart"></a></div>
                  <label class="font-13">Shopping cart</label>
                </div>
                <div class="col text-center">
                  <div id="contacts" class="checkoutIcon"><a href="#contacts"><img class="img img-fluid" src="{% static 'img/contacts_b.png' %}" alt="Contacts"></a></div>
                  <label class="font-13">Contacts</label>
                </div>
                <div class="col text-center">
                  <div id="delivery" class="checkoutIcon"><a href="#delivery"><img class="img img-fluid" src="{% static 'img/delivery_b.png' %}" alt="Delivery"></a></div>
                  <label class="font-13">Delivery</label>
                </div>
                <div class="col text-center">
                  <div id="payment" class="checkoutIcon"><a href="#payment"><img class="img img-fluid" src="{% static 'img/payment_b.png' %}" alt="Payment"></a></div>
                  <label class="font-13">Payment</label>
                </div>
                <div class="col text-center">
                  <div id="summary" class="checkoutIcon"><a href="#summary"><img class="img img-fluid" src="{% static 'img/summary_b.png' %}" alt="Summary"></a></div>
                  <label class="font-13">Summary</label>
                </div>

              </div>
              <hr>
            </div>


            <hr>



            <!-- CART SECTION -->
            <div id="cartDiv" style="overflow-y:auto; overflow-x:hidden">
              <h5 class="ml-4 mb-5"><i class="font-26 fas fa-shopping-cart"></i> Shopping cart</h5>
              {% for item in cart %}
                <li class="d-inline">
                  <div class="row">
                    <div class="col-lg-2 col-md-2"> <!--!!!!!!!!!!!-->
                      <a href="{% url 'info' item.id %}"><img class="img img-fluid mx-3" src="/{{ item.image }}" alt="{{ item.name }}"></a>
                    </div>
                    <div class="col-lg-10 col-md-10">
                      <a href="{% url 'info' item.id %}" style="color:black"><span style="font-weight:bold">{{ item.name }}</span></a>
                      <span class="float-right mr-3" style="font-weight:bold">{{ item.price }} €</span>
                      <p style="color:gray">Item number {{ item.id }}</p>
                    </div>
                  </div>
                  <hr class="cartItemSeparator">
                </li>
              {% empty %}
                <h6 class="p-4 text-center">No items in shopping cart.</h6>
              {% endfor %}
            </div>



            <!-- CONTACTS SECTION -->
            <div id="contactsDiv" style="display:none">

              <div class="alert d-none" role="alert"></div>

              {% if profile.street_address|length > 0 %} <!-- Check only the address (?) -->
                <h5 class="ml-4 mb-4"><i class="font-26 far fa-id-card"></i> Delivery address</h5>
                <div class="p-3 m-3 w-25" style="border:1px solid #2171cc; border-radius:3px;">
                  <li style="font-weight:bold">{{ request.user.get_full_name }}</li>
                  <li>{{ profile.street_address }}</li>
                  <li>{{ profile.zip_code }} {{ profile.city }}</li>
                  <li><i class="fas fa-phone"></i> {{ profile.phone_num }}</li>
                  <li><i class="far fa-envelope"></i> {{ request.user.email }}</li>
                </div>


              {% else %}
              <h5 class="ml-4 mb-4"><i class="font-26 far fa-id-card"></i> Adding an address</h5>
              <div class="mx-auto d-block p-3 mb-5" style="border: 1px solid #c4c4c4; width:47%; border-radius:3px;">
                <h6 style="background-color:#f0f8fc; border:1px solid #cee9f5" class="py-3 px-5 font-14 my-4">Fields with a star ( <span style="color:red">*</span> ) are mandatory</h6>
                  <div class="my-1">
                    <span style="color:red">*</span> <span class="font-14">Name</span><input type="text" class="form-control form-control-sm" placeholder="Full name" value="{{ user.get_full_name }}" required readonly>
                  </div>
                  <div class="my-1">
                    {% verbatim %}
                      <span style="color:red">*</span> <span class="font-14">Street address</span><input id="street_address" ng-model="street_address" ng-blur="getVal()" type="text" class="form-control form-control-sm" required>
                    </div>
                    <div class="my-1">
                      <div class="row">
                        <div class="col-4">
                          <span style="color:red">*</span> <span class="font-14">Zip code</span><input ng-model="zip_code" ng-blur="getVal()" type="text" class="form-control form-control-sm" required>
                        </div>
                        <div class="col-8">
                          <span style="color:red">*</span> <span class="font-14">City</span><input ng-model="city" ng-blur="getVal()" type="text" class="form-control form-control-sm" required>
                        {% endverbatim %}
                      </div>
                    </div>
                  </div>
                  <div class="my-1">
                    <span style="color:red">*</span> <span class="font-14">Phone number</span><input type="tel" class="form-control form-control-sm" value="{{ profile.phone_num }}" required>
                  </div>
                  <div class="my-1">
                    <span class="font-14">Email</span><input type="email" class="form-control form-control-sm" value="{{ user.email }}">
                  </div>
                  <!-- ASYNC SAVE ADDRESS INFO TO PROFILE -->
                  {% verbatim %}
                    <button id="addressBtn" ng-click="addAddress()" type="button" class="btn btn-primary w-100 mt-3">Add address and continue</button>
                  {% endverbatim %}
                </div>
              {% endif %}

            </div>


            <!-- DELIVERY SECTION -->
            <div id="deliveryDiv" style="display:none">
              {% verbatim %}
                <h5 class="ml-4 mb-4"><i class="fas fa-truck font-26"></i> Select delivery method</h5>
                <div class="form-group">

                  <div style="background-color:#f3f3f3" class="mx-4 p-2 mb-4">
                    <h6 class="my-1 mx-1">Collect from a store</h6>
                    <div id="collect">
                      <select class="form-control mx-auto d-block" ng-model="delivery_method" ng-change="addDelivery()">
                        <option value="Collect from Helsinki or a 24h stall">Collect from Helsinki or a 24h stall</option>
                        <option value="Collect from Pirkkala">Collect from Pirkkala</option>
                        <option value="Collect from Oulu">Collect from Oulu</option>
                        <option value="Collect from Vantaa warehouse">Collect from Vantaa warehouse</option>
                        <option value="Collect from Raisio">Collect from Raisio</option>
                      </select>
                    </div>
                  </div>

                  <div style="background-color:#f3f3f3" class="mx-4 p-2 mb-4">
                    <h6 class="my-1 mx-1">Home delivery</h6>
                    <div id="deliver_home">
                      <select class="form-control mx-auto d-block" ng-model="delivery_method" ng-change="addDelivery()">
                        <option value="Delivery on a weekday before 9am">Delivery on a weekday before 9am</option>
                        <option value="Delivery on a weekday before 2pm">Delivery on a weekday before 2pm</option>
                        <option value="Home delivery">Home delivery</option>
                        <option value="Matkahuolto Jakopaketti">Matkahuolto Jakopaketti</option>
                      </select>
                    </div>
                  </div>

                </div>
            </div>


            <!-- PAYMENT SECTION -->
            <div id="paymentDiv" style="display:none">

                <h5 class="ml-4 mb-4"><i class="far fa-credit-card font-26"></i> Select payment method</h5>
                <div style="background-color:#f3f3f3" class="mx-4 p-2 mb-4">
                  <h6 class="my-1 mx-1">Online bank service</h6>
                  <div id="online_bank_service">
                    <select class="form-control mx-auto d-block" ng-model="payment_method" ng-change="addPayment()">
                      <option value="Osuuspankki">Osuuspankki</option>
                      <option value="Nordea">Nordea</option>
                      <option value="Aktia">Aktia</option>
                      <option value="Ålandsbanken">Ålandsbanken</option>
                    </select>
                  </div>
                </div>
              {% endverbatim %}
            </div>


            <!-- SUMMARY SECTION -->
            <div id="summaryDiv" style="display:none;overflow-y:auto; overflow-x:hidden">
              <h5 class="ml-4 mb-4"><i class="fas fa-arrow-right font-26"></i> Confirm your order</h5>
              <h6 class="mx-4 my-3">Shopping cart</h6>


              {% for item in cart %}
                <li class="d-inline">
                  <div class="row">
                    <div class="col-lg-2 col-md-2"> <!--!!!!!!!!!!!-->
                      <a href="{% url 'info' item.id %}"><img class="img img-fluid mx-3" src="/{{ item.image }}" alt="{{ item.name }}"></a>
                    </div>
                    <div class="col-lg-10 col-md-10">
                      <a href="{% url 'info' item.id %}" style="color:black"><span style="font-weight:bold">{{ item.name }}</span></a>
                      <span class="float-right mr-3" style="font-weight:bold">{{ item.price }} €</span>
                      <p style="color:gray">Item number {{ item.id }}</p>
                    </div>
                  </div>
                  <hr class="cartItemSeparator">
                </li>
              {% empty %}
                <h6 class="p-4 text-center">No items in shopping cart.</h6>
              {% endfor %}
              <div class="ml-4">
                <h6>{{ cart|length }} items in total<span class="float-right mr-3">{{ total_price }} €</span></h6>
                <h6>Delivery method: {{ order.delivery_method }}<span class="float-right mr-3">30 €</span></h6>
                <h6>Payment method: {{ order.payment_method }}<span class="float-right mr-3">0 €</span></h6>
                <hr class="cartItemSeparator">
                <h6>Order in total<span class="float-right mr-3" style="color:red">{{ total_price }} €</span></h6>
                <h6 class="font-13">Vat included</h6>
              </div>



            </div>


            <!-- Next and previous buttons -->
            <hr>
            <button id="prevBtn" onclick="prev()" class="btn btn-light mx-3 mb-3 w-25 mt-auto">Previous</button>
            <button id="nextBtn" onclick="next()" class="btn btn-primary mx-3 mb-3 w-25 mt-auto" style="position: absolute; right:0px; bottom:0px">Next</button>
            <button id="sendBtn" onclick="javascript:alert('MIAU')" class="btn btn-primary mx-3 mb-3 w-25 mt-auto" style="display:none;position: absolute; right:0px; bottom:0px">Confirm order</button>


          </div>
        </div>

        <div class="col col-lg-3 col-md-2 col-xs-4">
          <div class="p-4 mt-3 infoSideBar w-75">
            <h6>Order summary</h6>
            <li class="font-13" style="margin-bottom:-5px;">{{ cart|length }} items in total<span class="float-right">{{ total_price }} €</span></li>
            <hr>
            <li class="font-13" style="font-weight:bold;margin-top:-5px;">Total price<span class="float-right" style="color:red;">{{ total_price }} €</span></li>
          </div>
          <div class="p-4 mt-3 infoSideBar w-75">
            <h6>Client information</h6>
            <li class="font-13 mb-2" style="font-weight:bold">{{ request.user.get_full_name }}<span class="float-right font-12" style="color:grey;">{{ request.user.id }}</span></li>
            <li class="mb-2"><i class="fas fa-phone"></i> <span class="font-13"> {{ profile.phone_num }}</span></li>
            <li class="mb-2"><i class="far fa-envelope"></i> <span class="font-13"> {{ request.user.email }}</span></li>


            <!-- WORKS ON FIRST TIME, DOESN'T UPDATE NEW METHOD WHEN COMING BACK! -->
            {% if not order.payment_method or not order.delivery_method %}
              {% verbatim %}
                <li ng-if="delivery_method"><i class="fas fa-truck"></i> <h6 class="d-inline"> Delivery method</h6></li>
                <li><span class="font-12" id="delivery_method"></span></li>
                <li ng-if="payment_method"><i class="far fa-credit-card"></i> <h6 class="d-inline"> Payment method</h6></li>
                <li><span class="font-12" id="payment_method"></span></li>
              {% endverbatim %}
            {% else %}
              <li><i class="fas fa-truck"></i> <h6 class="d-inline"> Delivery method</h6></li>
              <li><span class="font-12">{{ order.delivery_method }}</span></li>
              <li><i class="far fa-credit-card"></i> <h6 class="d-inline"> Payment method</h6></li>
              <li><span class="font-12">{{ order.payment_method }}</span></li>
            {% endif %}


          </div>
        </div>


      </div>

    </div><!--container-->
    <script>

      // List of the step names
      var list = ["cart", "contacts", "delivery", "payment", "summary"];

      $(function(){
        // If the url has no step specified, redirect to the first step
        if (!window.location.hash) {
          window.location.hash = "#cart";
        }
        updateStep();
        // When any icon is clicked
        $(".checkoutIcon").click(function(){
          // Change the url hash to the wanted step and update the view
          window.location.hash = $(this).attr("id");
          updateStep();
        });

      });


      function next(){
        var step = window.location.hash.substring(1,window.location.hash.length);
        var currentIndex = list.indexOf(step);
        if (currentIndex !== list.length-1) {
          window.location.hash = list[currentIndex+1];
        }
        updateStep();
      }


      function prev(){
        var step = window.location.hash.substring(1,window.location.hash.length);
        var currentIndex = list.indexOf(step);
        if (currentIndex !== 0) {
          window.location.hash = list[currentIndex-1];
        }
        updateStep();
      }


      function updateStep(){
        // Current step from the url
        var step = window.location.hash.substring(1,window.location.hash.length);
        // Show the current step
        $("#"+step+"Div").show();
        $("#"+step).addClass("active").children().children().attr("src", "/shopApp/static/img/" + step + "_w.png");

        // Index of the current step
        var index = list.indexOf(step);

        // Hide all other steps
        for (var i = 0; i < list.length; i++) {
          if (i !== index){
            $("#"+list[i]+"Div").hide();
            $("#"+list[i]).removeClass("active").children().children().attr("src", "/shopApp/static/img/" + list[i] + "_b.png");
          }
        }

        // If the last step
        if (index === list.length-1) {
          $("#nextBtn").hide();
          $("#sendBtn").show();
        }else{
          $("#nextBtn").show();
          $("#sendBtn").hide();
        }

        // If the first step
        if (index === 0) {
          $("#prevBtn").css('visibility', 'hidden');
        }else{
          $("#prevBtn").css('visibility', 'visible');
        }
      } // updateStep


    </script>
  </body>
</html>
