<!DOCTYPE html>
<html>
  <head>
    {% load static %}

    <meta charset="utf-8">
    <title>Verkkokauppa</title>
    <meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.star-rating-svg.min.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/star-rating-svg.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <script src="{% static 'js/controller.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body ng-app="app">
      <!--TOP BAR-->
      <nav class="navbar navbar-expand-md navbar-light justify-content-start">
        <button type="button" class="navbar-toggler mr-2" data-toggle="collapse" data-target="#sideBarNav" aria-controls="sideBarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">
          <picture>
            <source media="(min-width:1000px)" srcset="{% static 'img/logo.png' %}">
            <source media="(min-width:200px)" srcset="{% static 'img/favicon.png' %}">
            <img src="{% static 'img/logo.png' %}" alt="Verkkokauppa" height="35">
          </picture>
        </a>

        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <span class="navbar-toggler-icon"></span></button>-->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <form style="width:55%">
            <div class="input-group">
              <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="border-radius:3px;">
              <button id="searchBtn" class="btn btn-primary my-2 my-sm-0" type="submit" style="display:none">Search</button>
            </div>
          </form>
          <ul class="navbar-nav ml-0 mr-3">
            {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" style="color:white;" href="{% url 'account' %}"><i class="font-20 far fa-user-circle"></i> Hello, {{ user.first_name }}!</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" style="color:white;" href="{% url 'login_view' %}"><i class="font-20 fas fa-unlock"></i> Login</a></li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" style="color:white;" href="#">
                <i class="font-20 far fa-heart"></i> My lists
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:white;" href="{% url 'checkout' %}">
                <i class="font-20 fas fa-shopping-cart">
                  {% if profile.shopping_cart|length > 0 %}
                    <!-- If there are items in the cart -->
                    <span class="numOfItems">{{ profile.shopping_cart|length }}</span>
                  {% else %}
                    <!-- If empty cart -->
                    <span class="numOfItems" style="display:none;">{{ profile.shopping_cart|length }}</span>
                  {% endif %}
                </i> Checkout

              </a>
            </li>
          </ul>
        </div>
      </nav>



      <!--SIDE BAR-->
      <div class="container-fluid">
        {% if categories %}
          <div class="navMenu float-left" id="sideBarNav">  <!-- collapse navbar-collapse w-75-->
            <nav class="nav flex-column">
              {% for category in categories %}
                <a class="dropdown-item py-1" href="/results/{{ category.name }}">
                  <img width=25 height=25 src="/{{ category.icon }}" alt="icon">
                  <span class="align-middle">{{ category.name }}</span>
                </a>
              {% endfor %}
            </nav>
          </div>
          {% endif %}



        <script>
          $(function(){
            checkWidth();
            $(window).on('resize', function(){
              checkWidth();
            });
            $("input").keyup(function(){
              if($("#searchInput").val().length > 0){
                $("#searchBtn").show();
              }else{
                $("#searchBtn").hide();
              }
            });

          });

          function checkWidth(){
            if($(window).width() < 1000){
              $("#sideBarNav").addClass("collapse navbar-collapse w-75");
            }else{
              $("#sideBarNav").removeClass("collapse navbar-collapse w-75");
            }
          }
        </script>
