{% include 'shopApp/header.html' %}

      <div class="row">
        <span class="ml-3 path mt-2"><a href="{% url 'index' %}"><i class="fas fa-home"></i></a> > <a href="{% url 'results' item.category %}">{{ item.category }}</a> > <a href="{% url 'info' item.id %}">Product {{ item.id }}</a> </span>
        <div class="infoDiv m-3">
          <h5 class="p-3 title">{{ item.name }}</h5>
          <!-- Ratig stars -->
          {% if reviews %}
            <div class="font-14 mx-3 mb-3">
              {% for i in loop_times %}
                <i class="fas fa-star"></i>
              {% endfor %}
              {% for i in remaining %}
                <i class="far fa-star"></i>
              {% endfor %}
              <span class="mx-2">{{ reviews.count }} reviews</span>
              {% if recommended >= 50 %}
                <span class="mx-2" style="color:rgb(19,165,41); font-weight:bold"><i class="fas fa-thumbs-up mx-1"></i>{{ recommended }} % recommend</span>
              {% else %}
                <span class="mx-2" style="color:red; font-weight:bold"><i class="fas fa-thumbs-down mx-1"></i>{{ recommended }} % recommend</span>
              {% endif %}
              <span class="mx-3"><a href="#">Read reviews</a></span>
              <span><a href="{% url 'write' item.id %}">Write a review</a></span>
            </div>
          {% else %}
            <div class="font-14 mx-3 mb-3">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <span class="mx-2">No reviews</span>
              <span><a href="{% url 'write' item.id %}">Write the first review!</a></span>
            </div>
          {% endif %}


          <div class="row p-4" id="rowDiv">
            <div class="col col-md-8 col-xs-12">
              <img class="img img-fluid mx-auto d-block" src="/{{ item.image }}" alt="{{ item.name }}">
            </div>
            <div class="col col-md-4 col-xs-12">
              <div class="p-3 mr-3 mt-5 infoSideBar">
                <li><span><b>Product number:</b> {{ item.id }}</span></li>
                <li><span><b>Manufacturer:</b> {{ item.make }}</span></li>
                <li><span><b>Products available:</b> {{ item.quantityAvailable }}</span></li>
              </div>

              <div class="p-3 mr-3 mt-3 infoSideBar">
                <h6 class="mb-0">Price (alv 24 % /  0 %)</h6>
                <span class="priceTag">{{ item.price }}</span>
                <button onclick="location.href = {% url 'buy' item.id %}" class="btn btn-primary w-100 mt-4"><i class="fas fa-shopping-cart"></i> Add to basket</button>
                <div class="group">
                  <div class="item line"></div>
                  <div class="item text">or</div>
                  <div class="item line"></div>
                </div>
                <button onclick="location.href = {% url 'buy' item.id %}" class="btn btn-secondary w-100 mt-4"><i class="far fa-heart"></i> Add to my list</button>

              <!--  <form action="{% url 'buy' item.id %}" method="post">
                  {% csrf_token %}
                  <input type="submit" value="Add to basket" class="btn btn-primary w-100">
                </form>-->
              </div>
            </div>
          </div>


          <hr>
          <div class="m-4">
              <li><span>{{ item.desc }}</span></li>
          </div>

        </div>
      </div>


    </div><!--container-->
  </body>
  <script>
    $(function(){
      checkWidthInfo();
      $(window).on('resize', function(){
        checkWidthInfo();
      });
    });

    function checkWidthInfo(){
      if($(window).width() < 1000){
        $("#rowDiv").removeClass("row p-4");
      }else{
        $("#rowDiv").addClass("row p-4");
      }
    }


  </script>
</html>
